* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
    position: relative;
}

.back-body {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.back-body .green-back {
    height: 15vh;
    background-color: rgb(54, 159, 126);
}

.back-body .grey-back {
    height: 85vh;
    background-color: rgb(213, 213, 213);
}

.container {
    margin: 0 auto;
}

.color-notification {
    color: #a3a3a3;
}

.cursor {
    cursor: pointer;
}
/* ------------------------------------------- */

.content-whatapp {
    width: 1200px;
    height: 800px;
    display: flex;
    border: 1px solid rgb(199, 199, 199);
}

.sidebar {
    width: 30%;
    height: 100%;
    border: 1px solid rgb(199, 199, 199);
    background-color: white;
}

.sidebar .name-user {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241 241 241);
    padding: 0 10px;
}

.sidebar .notification-message {
    background-color: rgba(49, 207, 255, 0.6);
    height: 70px;
    padding: 10px;
    display: flex;
}

.sidebar .notification-message .icon-notification {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    background-color: white;
}
.sidebar .notification-message .icon-notification {
    color: rgba(49, 207, 255, 0.6);
}

.name-user .profile-user {
    height: 100%;
    display: flex;
    align-items: center;
}

.name-user .profile-user img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}


.sidebar .search-user {
    height: 45px;
    padding: 10px;
    color: grey;
}
.sidebar .search-user input {
    width: 90%;
    height: 20px;
    border-style: none;
}

.sidebar .list-contact {
    padding-left: 10px;
}

.sidebar .profile-image {
    padding: 10px 0;
}
.sidebar .profile-image:hover {
    background-color: #e8e8e8;
}

.list-contact .box-image {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
}

.profile-image .box-image img {
    width: 100%;
    border-radius: 50%;
}

.profile-image p {
    margin-left: 15px;
}
/* ------------------------------------------------------------------------- */

/* contenuto centrale header */
main {
    width: 70%;
    height: 100%;
}

.header-user {
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(241 241 241);
}

main .user-contact {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
}

main .user-contact  .user-image {
    height: 70px;
    width: 70px;
    object-fit: cover;
}
main .user-contact  .user-image img {
    width: 100%;
    border-radius: 50%;
}
main .user-contact  .text-header {
    margin-left: 10px;
    padding-top: 10px;
}

.header-user .settings-comand {
    height: 100%;
    padding-top: 25px;
}

.settings-comand i, .update-comand i {
    margin-left: 10px;
    font-size: large;
    color: grey;
}


/* ------------------------message container ---------------------- */


main .message-container {
    background-image: url("../img/mine.jpg");
    height: calc(100% - 200px);
    background-position: center center;
    padding: 20px 100px;
    overflow-y: auto;
}

.message-container .content-message {
    width: 300px;
    border: 1px solid black;
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: none;
}
.message-container .content-message.sent {
    background-color: lightgreen;
    margin-left: 350px;
}

.message-container .content-message.received {
    background-color: white;
}

/* ------------------------ footer ---------------------- */

.send-message {
    background-color: #f9f9f9;
    height: 100px;
    display: flex;
}

.send-message .emoticon, .send-message .audio-message {
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    padding-top: 10px;
}

.send-message .message {
    height: 100px;
    flex-grow: 1;
    text-align: center;
    line-height: 100px;
}
.send-message .message input {
    width: 100%;    
    height: 60px;
    border-style: none;

}

.send-message .far, .send-message .fas {
    font-size: 36px;
    color: grey;
}


